{% extends 'base.html' %}

{% block title %}Signin | {{ block.super }}{% endblock %}

{% block content %}
    <section id="user_signin">
        <h3>Signin</h3>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {% if form.errors %}
                    <div class="text-danger">
                        {% for _, error in form.errors.items %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                <label for="{{ form.username.id_for_label }}" class="form-label">{{ form.username.label }}</label>
                {{ form.username | add_classes:'form-control' }}
            </div>
            <div class="mb-3">
                <label for="{{ form.password.id_for_label }}" class="form-label">{{ form.password.label }}</label>
                {{ form.password | add_classes:'form-control' }}
                {% if form.password.errors %}
                    <div class="text-danger">
                        {{ form.password.errors.as_text }}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Signin</button>
        </form>
    </section>
{% endblock %}
