{% extends 'base.html' %}

{% block content %}
    <div class="my-3">
        <h3>Saved courses</h3>
        {% if saved %}
            <form method='post'>
                {% csrf_token %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Course</th>
                            <th scope="col">Discipline</th>
                            <th scope="col">Faculty</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in saved %}
                        <tr>
                            <td>{{ course.course.name }}</td>
                            <td>{{ course.course.discipline }}</td>
                            <td>{{ course.course.discipline.faculty }}</td>
                            <td><input type="checkbox" name="remove" value="{{ course.course.id }}"/></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <button type="submit" class="btn btn-outline-primary">Remove</button>
            </form>
        {% else %}
            <div>Nothing to show...</div>
        {% endif %}
    </div>
    <div>
        <h3>Add course</h3>
        {% comment %} add filtering {% endcomment %}
        <form method="post">
            {% csrf_token %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Course</th>
                        <th scope="col">Discipline</th>
                        <th scope="col">Faculty</th>
                        <th scope="col">Enroll</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in all %}
                    <tr>
                        <td>{{ course.name }}</td>
                        <td>{{ course.discipline }}</td>
                        <td>{{ course.discipline.faculty }}</td>
                        <td><input type="checkbox" name="add" value="{{ course.id }}" id="course_{{course.id}}"/></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if all %}
                <button class="btn btn-outline-primary" type="submit">Add</button>
            {% else %}
                <div>Nothing to show...</div>
            {% endif %}
        </form>
    </div>
{% endblock %}
